In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

In [66]:
df = pd.read_csv('data.csv', delimiter=';')
df.head()
df.rename(columns={'Nacionality':'Nationality','Daytime/evening attendance\t':'Daytime/evening attendance'}, inplace=True)
df = df[df['Target'] != 'Enrolled']
df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nationality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [67]:
# svm part import
from sklearn import svm
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [69]:
# svm all dataset
svm_x = df.drop(columns=['Target'])
svm_y = df['Target']

svm_data = []

for i in range(5):
    scaler = StandardScaler()
    svmX_train, svmX_test, svmY_train, svmY_test = train_test_split(svm_x, svm_y, test_size=0.2, random_state=i)
    svmX_train = scaler.fit_transform(svmX_train)
    svmX_test = scaler.transform(svmX_test)
    svm_model = svm.SVC(kernel='rbf')
    svm_data.append({'svm_model': svm_model, 'train_data': svmX_train, 'train_labels': svmY_train, 'test_data': svmX_test, 'test_labels': svmY_test})

In [71]:
# svm all run
meanAcc = 0.0

for i in range(5):
    svm_data[i]['svm_model'].fit(svm_data[i]['train_data'], svm_data[i]['train_labels'])
    y_pred = svm_data[i]['svm_model'].predict(svm_data[i]['test_data'])
    accuracy = accuracy_score(svm_data[i]['test_labels'], y_pred)
    meanAcc = meanAcc + accuracy
    print('Test' + str(i+1) + ' Accuracy:' + str(accuracy))
    
print('Average Accuracy:' + str(meanAcc/5))

Test1 Accuracy:0.9104683195592287
Test2 Accuracy:0.90633608815427
Test3 Accuracy:0.9173553719008265
Test4 Accuracy:0.9159779614325069
Test5 Accuracy:0.9104683195592287
Average Accuracy:0.9121212121212121

In [84]:
# svm reject H0 dataset
svm_x = df.drop(columns=['Target', 'Application order', 
                         'Nationality', 'Admission grade', 'Educational special needs', 
                         'Age at enrollment', 'International', 'Curricular units 1st sem (credited)',
                         'Curricular units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', 
                         'Curricular units 1st sem (without evaluations)', 
                         'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)', 
                         'Curricular units 2nd sem (evaluations)',  
                         'Curricular units 2nd sem (without evaluations)', 'Inflation rate'])
svm_y = df['Target']

svm_dataH1 = []

for i in range(5):
    scaler = StandardScaler()
    svmX_train, svmX_test, svmY_train, svmY_test = train_test_split(svm_x, svm_y, test_size=0.2, random_state=i)
    svmX_train = scaler.fit_transform(svmX_train)
    svmX_test = scaler.transform(svmX_test)
    svm_model = svm.SVC(kernel='rbf')
    svm_dataH1.append({'svm_model': svm_model, 'train_data': svmX_train, 'train_labels': svmY_train, 'test_data': svmX_test, 'test_labels': svmY_test})
    
svm_x

,Marital status,Application mode,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,...,Debtor,Tuition fees up to date,Gender,Scholarship holder,Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Unemployment rate,GDP
0,1,17,171,1,1,122.0,19,12,5,9,...,0,1,1,0,0,0.000000,0,0.000000,10.8,1.74
1,1,15,9254,1,1,160.0,1,3,3,3,...,0,0,1,0,6,14.000000,6,13.666667,13.9,0.79
2,1,1,9070,1,1,122.0,37,37,9,9,...,0,0,1,0,0,0.000000,0,0.000000,10.8,1.74
3,1,17,9773,1,1,122.0,38,37,5,3,...,0,1,0,0,6,13.428571,5,12.400000,9.4,-3.12
4,2,39,8014,0,1,100.0,37,38,9,9,...,0,1,0,0,5,12.333333,6,13.000000,13.9,0.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,9773,1,1,125.0,1,1,5,4,...,0,1,1,0,5,13.600000,5,12.666667,15.5,-4.06
4420,1,1,9773,1,1,120.0,1,1,9,9,...,1,0,0,0,6,12.000000,2,11.000000,11.1,2.02
4421,1,1,9500,1,1,154.0,37,37,9,9,...,0,1,0,1,7,14.912500,1,13.500000,13.9,0.79
4422,1,1,9147,1,1,180.0,37,37,7,4,...,0,1,0,1,5,13.800000,5,12.000000,9.4,-3.12
4423,1,10,9773,1,1,152.0,38,37,5,9,...,0,1,0,0,6,11.666667,6,13.000000,12.7,-1.70

In [73]:
# svm reject H0 run
meanAcc = 0.0

for i in range(5):
    svm_dataH1[i]['svm_model'].fit(svm_dataH1[i]['train_data'], svm_dataH1[i]['train_labels'])
    y_pred = svm_dataH1[i]['svm_model'].predict(svm_dataH1[i]['test_data'])
    accuracy = accuracy_score(svm_dataH1[i]['test_labels'], y_pred)
    meanAcc = meanAcc + accuracy
    print('Test' + str(i+1) + ' Accuracy:' + str(accuracy))

print('Average Accuracy:' + str(meanAcc/5))

Test1 Accuracy:0.9008264462809917
Test2 Accuracy:0.8953168044077136
Test3 Accuracy:0.9104683195592287
Test4 Accuracy:0.9118457300275482
Test5 Accuracy:0.9090909090909091
Average Accuracy:0.9055096418732782

In [74]:
# KNN part import
from sklearn.neighbors import KNeighborsClassifier

In [75]:
# KNN all dataset
knn_data = []

for i in range(5):
    knn_model = KNeighborsClassifier(n_neighbors=3)
    knn_data.append({'knn_model': knn_model, 'train_data': svm_data[i]['train_data'], 'train_labels': svm_data[i]['train_labels'], 'test_data': svm_data[i]['test_data'], 'test_labels': svm_data[i]['test_labels']})

In [76]:
# KNN all run
meanAcc = 0.0

for i in range(5):
    knn_data[i]['knn_model'].fit(knn_data[i]['train_data'], knn_data[i]['train_labels'])
    y_pred = knn_data[i]['knn_model'].predict(knn_data[i]['test_data'])
    accuracy = accuracy_score(knn_data[i]['test_labels'], y_pred)
    meanAcc = meanAcc + accuracy
    print('Test' + str(i+1) + ' Accuracy:' + str(accuracy))
    
print('Average Accuracy:' + str(meanAcc/5))

Test1 Accuracy:0.8429752066115702
Test2 Accuracy:0.8553719008264463
Test3 Accuracy:0.8484848484848485
Test4 Accuracy:0.8512396694214877
Test5 Accuracy:0.8567493112947658
Average Accuracy:0.8509641873278238

In [77]:
# KNN reject H0 dataset
knn_dataH1 = []

for i in range(5):
    knn_model = KNeighborsClassifier(n_neighbors=3)
    knn_dataH1.append({'knn_model': knn_model, 'train_data': svm_dataH1[i]['train_data'], 'train_labels': svm_dataH1[i]['train_labels'], 'test_data': svm_dataH1[i]['test_data'], 'test_labels': svm_dataH1[i]['test_labels']})

In [78]:
# KNN reject H0 run
meanAcc = 0.0

for i in range(5):
    knn_dataH1[i]['knn_model'].fit(knn_dataH1[i]['train_data'], knn_dataH1[i]['train_labels'])
    y_pred = knn_dataH1[i]['knn_model'].predict(knn_dataH1[i]['test_data'])
    accuracy = accuracy_score(knn_dataH1[i]['test_labels'], y_pred)
    meanAcc = meanAcc + accuracy
    print('Test' + str(i+1) + ' Accuracy:' + str(accuracy))

print('Average Accuracy:' + str(meanAcc/5))

Test1 Accuracy:0.8581267217630854
Test2 Accuracy:0.8484848484848485
Test3 Accuracy:0.8650137741046832
Test4 Accuracy:0.8746556473829201
Test5 Accuracy:0.8746556473829201
Average Accuracy:0.8641873278236915

In [79]:
# Decision tree part import
from sklearn.tree import DecisionTreeClassifier

In [80]:
# Decision tree all dataset
tree_data = []

for i in range(5):
    tree_model = DecisionTreeClassifier()
    tree_data.append({'tree_model': tree_model, 'train_data': svm_data[i]['train_data'], 'train_labels': svm_data[i]['train_labels'], 'test_data': svm_data[i]['test_data'], 'test_labels': svm_data[i]['test_labels']})

In [81]:
# Decision tree all run
meanAcc = 0.0

for i in range(5):
    tree_data[i]['tree_model'].fit(tree_data[i]['train_data'], tree_data[i]['train_labels'])
    y_pred = tree_data[i]['tree_model'].predict(tree_data[i]['test_data'])
    accuracy = accuracy_score(tree_data[i]['test_labels'], y_pred)
    meanAcc = meanAcc + accuracy
    print('Test' + str(i+1) + ' Accuracy:' + str(accuracy))
    
print('Average Accuracy:' + str(meanAcc/5))

Test1 Accuracy:0.837465564738292
Test2 Accuracy:0.837465564738292
Test3 Accuracy:0.8787878787878788
Test4 Accuracy:0.8636363636363636
Test5 Accuracy:0.8581267217630854
Average Accuracy:0.8550964187327825

In [82]:
# Decision tree reject H0 dataset
tree_dataH1 = []

for i in range(5):
    tree_model = DecisionTreeClassifier()
    tree_dataH1.append({'tree_model': tree_model, 'train_data': svm_dataH1[i]['train_data'], 'train_labels': svm_dataH1[i]['train_labels'], 'test_data': svm_dataH1[i]['test_data'], 'test_labels': svm_dataH1[i]['test_labels']})

In [83]:
# Decision tree reject H0 run
meanAcc = 0.0

for i in range(5):
    tree_dataH1[i]['tree_model'].fit(tree_dataH1[i]['train_data'], tree_dataH1[i]['train_labels'])
    y_pred = tree_dataH1[i]['tree_model'].predict(tree_dataH1[i]['test_data'])
    accuracy = accuracy_score(tree_dataH1[i]['test_labels'], y_pred)
    meanAcc = meanAcc + accuracy
    print('Test' + str(i+1) + ' Accuracy:' + str(accuracy))

print('Average Accuracy:' + str(meanAcc/5))

Test1 Accuracy:0.8567493112947658
Test2 Accuracy:0.8278236914600551
Test3 Accuracy:0.8443526170798898
Test4 Accuracy:0.8484848484848485
Test5 Accuracy:0.8388429752066116
Average Accuracy:0.8432506887052341

In [55]:
print(df.columns)
print(df.size)

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nationality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')
163688